[Unit]
Description=connection pooler for PostgreSQL
Documentation=man:pgbouncer(1)
Documentation=https://www.pgbouncer.org/
After=network.target
#Requires=pgbouncer.socket

[Service]
Type=forking
User=postgres
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/pgbouncer start
ExecStop=/etc/init.d/pgbouncer stop
ExecReload=/etc/init.d/pgbouncer reload
LimitNOFILE=81920

[Install]
WantedBy=multi-user.target
