#!/usr/bin/env bash
set -e
set -u

PGBOUNCER_DATABASE_INI_NEW="/tmp/pgbouncer.database.ini"
PGBOUNCER_HOSTS="{% for host in repmgr_cluster_group  %}
{{ hostvars[host].connection_host }}
{%- if not loop.last %} {% endif %}
{% endfor %}"
DATABASES={{ test_db_name }}

# Pause pgbouncer
for h in ${PGBOUNCER_HOSTS}
do
  for d in ${DATABASES}
  do
      psql -U {{ pgbouncer_admin_stat_user }} -h ${h} -p 6432 pgbouncer -tc "pause ${d}"
  done
done

# Promote server
sudo /usr/bin/pg_ctlcluster 10 main promote

# Generate new config file for pgbouncer
echo -e "[databases]\n" > ${PGBOUNCER_DATABASE_INI_NEW}
for d in ${DATABASES}
do
  echo -e "${d}= host=$(hostname -f)\n" >> ${PGBOUNCER_DATABASE_INI_NEW}
done

# Copy new config file, reload and resume pgbouncer
for h in ${PGBOUNCER_HOSTS}
do
  for d in ${DATABASES}
  do
      rsync -a ${PGBOUNCER_DATABASE_INI_NEW} ${h}:/etc/pgbouncer/pgbouncer.database.ini
      psql -U {{ pgbouncer_admin_stat_user }} -h ${h} -p 6432 pgbouncer -tc "reload"
      psql -U {{ pgbouncer_admin_stat_user }} -h ${h} -p 6432 pgbouncer -tc "resume ${d}"
  done
done

rm ${PGBOUNCER_DATABASE_INI_NEW}
