# Database administrative login by Unix domain socket
local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            md5
host    replication     all             ::1/128                 md5

# repmgr
local   replication   repmgr                              trust
host    replication   repmgr      127.0.0.1/32            trust
{% for host in repmgr_cluster_group %}
host    replication   repmgr      {{ hostvars[host].connection_host }}/32       trust
{% endfor %}

local   repmgr        repmgr                              trust
host    repmgr        repmgr      127.0.0.1/32            trust
{% for host in repmgr_cluster_group %}
host    repmgr        repmgr      {{ hostvars[host].connection_host }}/32       trust
{% endfor %}

# test user
{% for host in repmgr_cluster_group %}
host    pgbouncer     postgres    {{ hostvars[host].connection_host }}/32       trust
{% endfor %}

# test user
{% for host in repmgr_cluster_group %}
host    {{db_name}}   {{db_user}} {{ hostvars[host].connection_host }}/32       trust
{% endfor %}
